body {
  background-color: rgb(85, 173, 155);
  padding-left: 10px;
  padding-right: 10px;
}

#tittle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 6px #242222;
}

.container {
  background-color: rgb(149, 210, 179);
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.recipes {
  background-color: rgb(216, 239, 211);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

.recipe-img {
  border-radius: 10px;
  height: auto;
  width: 310px;
}

.dis {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: left;
}

.recipe-link {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(93, 94, 93);
  text-align: center;
}

.spaghetti {
  height: 210px;
}
